#slider-welcome {
    max-height: 80vh;
}

#slider-welcome .owl-carousel {
    .item {
        max-height: 80vh;
        position: relative;
    }

}

#slider-welcome img {
    width: 100%;
    max-height: 78vh;
    object-fit: cover;
    object-position: top center;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {

    .owl-next span,
    .owl-prev span {
        font-size: 2rem !important;
        padding: 1rem;
    }
}
