.ui.secondary.pointing.menu .item {
    padding: 1.5rem;
}

.ui.inverted {
    background: black !important;
}

.ui.menu {
    border-radius: 0;
    margin: 0;
    align-items: center;
}

.ui.menu .item {
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

.ui.menu .item:hover {
    opacity: 1;
}

.cms-menu.ui.inverted.menu .item.active,
.cms-menu.ui.inverted.menu .item:hover {
    color: var(--gold-light) !important;
}

.cms-menu.ui.inverted.menu {
    position: static;

    .item span {
        display: block !important;
    }
}

.ui.secondary.menu .dropdown.simple.item>.menu {
    margin-top: 0;

    @media #{$breakpoint_sm},
    #{$breakpoint_md} {
        position: fixed;
        max-width: 9px !important;
        right: 50%;
        top: 173px !important;
        background: #000;

        a{
            color: #fff !important;
        }
    }

}

// shop side bar
.sidebar-categories {
    padding: $sm;
    flex: 0 0 20%;

    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border);
    transition: var(--normal);

    @media #{$breakpoint_sm},
    #{$breakpoint_md} {
        background: #fff;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 50%;
        z-index: 99;
    }

    @media #{$breakpoint_lg} {
        flex: 0 0 30%;
    }


    .item {
        padding: $flex-gap-items-xl;
        color: gray;

        &.active {
            font-weight: bold;
            border-right: 1px solid var(--gold);
            color: var(--gold);
        }
    }

    .header-title {
        color: #000;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: $sm;
    }
}

.hamburger {

    @media #{$breakpoint-sm},
    #{$breakpoint-md} {
        width: 50px;
        height: 30px;
        display: block;
        position: relative;
        cursor: pointer;

        span {

            &,
            &::before,
            &::after {
                content: '';
                width: 30px;
                height: 2.5px;
                background: var(--gold-dark);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            &::before {
                margin-bottom: 8px;
            }

            &::after {
                margin-top: 8px;
            }
        }
    }
}

@media #{$breakpoint-sm},
#{$breakpoint-md} {
    .toolbar {
        display: flex;
        align-items: center;
        padding: 0 0.75rem;

        .left.menu {
            .item {
                min-width: 25px !important;
                font-size: 0.9rem;

                span {
                    display: none !important;
                }

                &.account {
                    display: none;
                }
            }

            .shopping.cart.icon {
                position: relative;

                &::after {
                    content: attr(data-cart);
                    width: 15px;
                    height: 15px;
                    color: #fff;
                    font-size: 15px;
                    font-family: "Heebo", sans-serif;
                    background: var(--gold-dark);
                    border-radius: 50%;
                    position: absolute;
                    top: -7px;
                    right: -7px;
                }
            }
        }
    }

    .ui.horizontal.divider:after,
    .ui.horizontal.divider:before {
        top: 0;
    }
}

@media #{$breakpoint-sm},
#{$breakpoint-md} {
    .logo {
        flex: 1;
        text-align: center;
    }

    .z-index {
        z-index: 6;
    }

    .ui.secondary.pointing.menu .item {

        &.active,
        &:hover {
            color: var(--gold) !important;
        }

        color: #fff;
        align-self: flex-start;
    }

    #nav-toggle {
        position: fixed;
        right: -100%;
        transition: var(--normal);
    }

    #nav-toggle {
        display: flex;
        flex-direction: column;

        background: #000;

        width: 50% !important;
        height: 100%;
        z-index: 100;

        a.item {
            color: #fff;
            width: 100%;

            &.active,
            &:hover {
                color: var(--gold);
            }
        }
    }
}
